#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sub-btn {
    width: 100%;
}

.container {
    height: 95%;
}

