.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center; /* Ajouté pour centrer verticalement */
  align-items: center; /* Ajouté pour centrer horizontalement */
}

.form {
  width: 100%;
  display:flex;
  flex-direction: column;
  margin:5px;
  align-items: center;
  justify-items: center;
}

 .input {
    width: 25%;
 }
 
  .ajouterBtn {
    align-self: flex-end;
    background-color: white;
    color: #414141;
    border: solid 1px;
    border-color: #414141;
  }