.rendu {
    color: green;
 }

 .nonRendu {
    color: red;
 }

 .container {
   display: flex;
   flex-direction: column;
 }

 .ajouterBtn {
   align-self: flex-end;
   background-color: white;
   color: #414141;
   border: solid 1px;
   border-color: #414141;
 }

 .pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
 }

 