<main class="container">
  <!-- composant -->
  <mat-list *ngFor="let assignment of assignments">
    <nav><a routerLink="/assignment/{{assignment.id}}">
      <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
      <mat-list-item (click)="assignmentClique(assignment)" [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
        <p appRendu *ngIf="assignment.rendu; else nonsoumis">
          Devoir intitulé {{assignment.nom}} a été rendu.
        </p>
        <ng-template #nonsoumis>
          Le devoir {{assignment.nom}} n'a pas été rendu.
        </ng-template>
        <mat-divider></mat-divider>
      </mat-list-item>
    </a></nav>
  </mat-list>
  
  <!-- pagination -->
  <!--
  <div class="pagination">
    <button mat-stroked-button color="primary" (click)="goToFirstPage()">Première page</button>
    <button mat-stroked-button color="primary" (click)="goToPreviousPage()" [disabled]="!isPreviousPage()">Page précédente</button>
    <button mat-stroked-button color="primary" (click)="goToNextPage()" [disabled]="!isNextPage()">Page suivante</button>
    <button mat-stroked-button color="primary" (click)="goToLastPage()">Dernière page</button>
  </div>
  <div>
    <p>Page {{page}} sur {{totalPages}}</p>
    <p>Nombre de documents : {{totalDocs}}</p>
  </div>
  -->

  <app-paginator></app-paginator>
</main>