<mat-list *ngFor="let assignment of assignments">
  <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
  <mat-list-item (click)="assignmentClique(assignment)" [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
      Devoir intitulé {{assignment.nom}} a été rendu.
    </p>
    <ng-template #nonsoumis>
      Le devoir {{assignment.nom}} n'a pas été rendu.
    </ng-template>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<app-assignment-detail [assignementTransmis]="assignementSelectionne"></app-assignment-detail>


<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment>
