<!-- ToolBar -->
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button class="menu" (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <button mat-button class="home" routerLink="/"> <mat-icon>home</mat-icon></button>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-button class="login"> <mat-icon>login</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <button mat-button class="sidenavBtn" routerLink="/assignment-list">Liste des devoirs</button>
        <button mat-button class="sidenavBtn" routerLink="/add-assignment">Ajout d'un devoir</button>
        <button mat-button class="sidenavBtn" routerLink="">Modification d'un devoir</button>
        <button mat-button class="sidenavBtn" routerLink="">Suppression d'un devoir</button>
        <button mat-button class="sidenavBtn" routerLink="">Génération de données de test</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Les composants sont affichées dans le router-outlet grace au routerLink -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

