<!-- ToolBar -->
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button class="menu" (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <button mat-button class="home" routerLink="/home"> <mat-icon>home</mat-icon></button>
        <a routerLink="/home">{{title}}</a>
        <span class="example-spacer"></span>

        <button *ngIf="!isLogged()" mat-button class="login" routerLink="/auth"><mat-icon>login</mat-icon></button>
        <button *ngIf="isLogged()" mat-button class="logout" routerLink="/home"
            (click)="logout()"><mat-icon>logout</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <div class="pages">
            <button mat-button class="sidenavBtn" routerLink="/assignments"><mat-icon>assignment</mat-icon>&nbsp;Liste des devoirs</button>
            <button mat-button class="sidenavBtn" *ngIf="isLogged()" routerLink="/add-assignment"><mat-icon>add_box</mat-icon>&nbsp;Ajout d'un devoir</button>
            <button mat-button class="sidenavBtn" *ngIf="isAdmin()" routerLink="/test"><mat-icon>cloud_upload</mat-icon>&nbsp;Génération de données de test</button>
        </div>
        <div class="options">
            <button mat-button class="sidenavBtn" *ngIf="isLogged()"><mat-icon>account_circle</mat-icon>&nbsp;Profil</button>
            <button mat-button class="sidenavBtn" *ngIf="isAdmin()"><mat-icon>supervisor_account</mat-icon>&nbsp;Administration</button>
            <button mat-button class="sidenavBtn"><mat-icon>settings</mat-icon>&nbsp;Paramètres</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Les composants sont affichées dans le router-outlet grace au routerLink -->
        <router-outlet class="router-outlet"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>