section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .content {
    padding-top: 10px !important;
  }

  mat-sidenav-container{
    height: calc(205vh - 115vh); 

  }

  mat-sidenav {
    width: 20%;
    background-color: #fafafa;
  }

  mat-sidenav div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pages {
    width: 100%;
    padding-top: 10px;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }

  .sidenavBtn {
    width: 100%;
    height: 100%;
    display: flex; 
  }