<mat-horizontal-stepper linear="true" color="primary">
  <!-- Étape 1 -->

  <mat-step [editable]="formEdit" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Étape 1</ng-template>
      <mat-form-field class="input">
        <input matInput formControlName="nomDevoir" placeholder="Nom du devoir" required>
      </mat-form-field>
      <div>
        <button mat-button color="primary" matStepperNext>Étape suivante</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 2 -->
  <mat-step [editable]="formEdit" [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Étape 2</ng-template>
      <mat-form-field class="input">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateDeRendu"
          placeholder="Date de rendu"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button color="warn" matStepperPrevious>Étape précédente</button>
        <button mat-button color="primary"  matStepperNext>Étape suivante</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 3 -->
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Étape 3</ng-template>
      <mat-form-field class="input">
        <input matInput formControlName="matiere" placeholder="Matière" required>
      </mat-form-field>
      <div>
        <button mat-button color="warn" matStepperPrevious>Étape précédente</button>
        <button mat-button color="primary"  (click)="onSubmit()">Terminer</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
