

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 40px;
}

p, h1 {
    color: #000000;
}

.spacer {
    margin-top: 20px;
}

.access {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: white;
    color: #414141;
    border: solid 1px;
    border-color: #414141;
}